@import 'scss/reset';
@import 'scss/base';

$line-height: 10px;

body {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 70px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fdfdfd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    a{
        display: flex;
        svg {
            margin-right: 10px;
        }
        &:hover {
            fill: grey;
            color: gray;
            transition: .3s;
        }
    }

    nav {

        ul {
            display: flex;
            gap: 50px;
        }
    }
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
    img {
        margin-bottom: 20px;
    }
}

.header__task {

    .header__title {
        display: flex;
        
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 70px;
            cursor: pointer;

            &.active {
                border-bottom: 5px solid orange;
            }
        }
    }

    .content {

        section {
            width: 100%;
            height: auto;
            padding: 25px 0;
            background-color: #fddfdf;
            display: none;
            
            &:nth-child(2) {
                background-color: rgba(blue, .5);
                color: #FFF;
                display: none;
            }

            &.active {
                display: block;
            }
            
            

            .title {
                position: relative;
                width: 80%;
                margin: auto;
                // text-align: center;
                // background-color: #111222;
                margin-bottom: 50px;

                .title__task {
                    // position: relative;
                    padding: 20px 0;
                    cursor: pointer;
                    
                    &::after {
                        content: '';
                        display: inline-block;
                        background-image: url(../../assets/arrow-down-s-line.svg);
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        right: 0;
                        // transform: rotate(180deg);
                    }

                }
                .title__wrapper {
                    background-color: #F1F1F1;
                    border-radius: 10px;
                    left: 0;
                    width: 100%;
                    margin-bottom: $line-height;
                    padding: 20px;
                    padding-left: 10px;
                    display: none;
                    color: #333;

                    &.active {
                        display: block;
                    }
                    
                    .task__adds {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        background-color: orange;
                        width: 300px;
                        height: 50px;
                        border-radius: 25px;
                        color: #FFF;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                    }
            }

                // PROGRESS LINE
                .line {
                  position: relative;
                  
                    .line-main {
                        position: absolute;
                        border-radius: 25px;
                        background-color: #ccc;
                        width: 100%;
                        height: $line-height;
                    }
                    
                    .line-progress {
                        position: absolute;
                        border-radius: 25px;
                        background-color: #008000;
                        width: 50%;
                        height: $line-height;
                    }
                }
            }
        }
    }
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #333;
    color: #FFF;
    // font-size: 20px;

    a {
        color: orange;
        text-decoration: underline;
    }
}


svg {
    width: 20px;
}