/* Reset CSS */
@import 'scss/reset';

/* Login CSS */
@import 'scss/login';

/* Base CSS*/
@import 'scss/base';

$line-height: 10px;

body {
  position: relative;
}

/* HEADER */
header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  background-color: $white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;

  a {
    display: flex;
    padding: 32px;

    img, svg {
      width: 30px;
      height: 30px;
      fill: #333;
      margin-right: 10px;
      margin-top: -5px;
    }

    &:hover {
      background: rgba(0, 0, 0, .05);
      transition: .3s;
    }
  }

  nav {

    ul {
      display: flex;
      gap: 50px;
    }
  }
}

/* HEADER */


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  line-height: 1.5;
  height: 100px;
  text-transform: uppercase;
}

/* HEADER PROJECT */
.header__task {
  margin-top: 100px;

  .header__title {
    display: flex;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 70px;
      cursor: pointer;
      border-bottom: 5px solid transparent;

      &.active {
        border-bottom: 5px solid $grey;
      }
    }
  }
}

/* CONTENT */
.content {

  section {
    width: 100%;
    padding: 25px 0;
    background-color: #fddfdf;
    display: none;
    height: auto;

    &:nth-child(2) {
      background-color: rgba(blue, .5);
      color: $white;
      display: none;
    }

    &.active {
      display: block;
    }
  }
}


.title {
  width: 80%;
  margin: 25px auto;

  .title__task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
    z-index: 1;

    div {
      display: flex;
      align-items: center;
      gap: 32px;
    }

    svg {
      width: 25px;
      height: 25px;
      fill: $black;
    }
  }
}

.title__wrapper {
  background-color: $white;
  border-radius: 10px;
  width: 100%;
  margin-bottom: $line-height;
  padding: 10px 0 10px 10px;
  display: none;
  color: $grey;

  .task__adds {
    display: flex;
    background-color: $blue;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    color: $white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: 2px solid $blue;

    &:hover {
      transition: .1s;
      background-color: $white;
      border: 2px solid $blue;
      color: $blue;
    }
  }
}


.title__wrapper {
  display: block;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 1.2s;
  z-index: 1;
  height: 0;

  &.active {
    transform-origin: top;
    opacity: 1;
    height: auto;
    transform: scaleY(1);
    transition: transform 1.5s;
    z-index: 1000;
    box-shadow: 0 0 4px rgba(black, .25);
  }
}

/* PROGRESS LINE */
.line {
  position: relative;

  .line-main {
    position: absolute;
    border-radius: 25px;
    background-color: #ccc;
    width: 100%;
    height: $line-height;
  }

  .line-progress {
    position: absolute;
    border-radius: 25px;
    background-color: #008000;
    height: $line-height;
  }
}

/* Bouton cliquable pour ajouter un projet */
.add__project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
  width: 50%;
  height: 50px;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid $blue;

  &:hover {
    transition: .1s;
    background-color: $white;
    border: 2px solid $blue;
    color: $blue;
  }

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #333;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 1.2px;

  position: absolute;
  width: 100%;
  bottom: 0;

  font-family: 'Montserrat', sans-serif;
}

.modal {
  z-index: 9999;
}

/* Non connecter */
.no-co {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  * {
    margin-bottom: 10px;
  }

  a {
    margin: 10px;
    padding: 15px;
    border: 2px solid $black;
    border-radius: 4px;
    background: $black;
    color: $white;
    transition: .1s;
  }

  a:hover {
    border: 2px solid $black;
    color: $black;
    background: $white;
    border-radius: 4px;
    transition: .1s;
  }
}