@import "base";

/* Login FORM */
.login__form {
  width: auto;
  height: auto;
  max-width: 80%;
  margin: auto;
  padding: 5%;
  background-color: $white;
  border-radius: 24px;
  border: 1px solid rgba(0 0 0 / .25);

  img {
    width: 300px;
  }

  h1 {
    //margin-bottom: 30px;
    margin-bottom: 2em;
    text-align: center;
  }

  label {
    font-size: 20px;
    font-weight: 700;
  }

  input {
    width: 100%;
    margin: 10px 0;
    border: 1px solid rgba($black, .5) !important;
    color: $black !important;
    padding: 5px;
    border-radius: 5px;

    &::placeholder {
      color: rgb($black, .5);
    }

  }

  form #submit {
    background-color: #333;
    color: #FDFDFD;
    width: 100%;
    margin: 10px 0;
    border: 1px solid rgba(#333, .5);
    padding: 5px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(#333, .5);
      transition: .3s;
    }
  }
}